.speech{
    color: black;
    font-style: serif;
    font-size: 15px;
}
.direction{
    color:black;
    backgroun-color: RGB(181,224,241);
    font-STYLE: Verdana;
    font-size : 30px;

}
.direction:hover{
    background-color:blanchedalmond;
    color: orange;
}
.COTTON{
    font-style:Courier New;
    color: brown;
}
.BETTY{
    font-style:Abadi;
    color:blue;
}